.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 70px 0 50px;
    /* position: relative; */
    /* background-color: #F3F3F3;  */
}

.logo{
    width: 180px;
}
.image-logo{
    background: url('../../../public/TecnoPulse-removebg-preview.png');
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    image-rendering: -webkit-optimize-contrast;
}
.iconos{
    display: flex;
    column-gap: 15px;
    
}
.input{
    height: 35px !important;
    border-radius: 18px !important;
    -webkit-border-radius: 18px !important;
    -moz-border-radius: 18px !important;
    -ms-border-radius: 18px !important;
    -o-border-radius: 18px !important;
}
.iconos > div{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(155, 155, 155, 0.767);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.iconos .bx{
    font-size: large;
    color: rgb(71, 71, 71)
}
.iconos-izq{
    width: 100px
}
.iconos-izq .bx{
    font-size: larger;
    font-weight: bold;
    color: rgb(71, 71, 71)
}
.icon-perfil{
    background: url(../../../public/icon-perfil.jpg) no-repeat center;
    background-size: cover;
    border: none !important;
    position: relative;
    border: 1px solid rgba(155, 155, 155, 0.767);
}

.header > div p{
    font-size: medium;
    font-weight: 500;
    /* color: white; */
    transition: all 500ms;
    transition:  transform 200ms;
    -webkit-transition:  transform 200ms;
    -moz-transition:  transform 200ms;
    -ms-transition:  transform 200ms;
    -o-transition:  transform 200ms;
}


.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    /* background-color: #ebebeb; */
    /* background-color: #242424; */
    padding: 0 20px; 
    border-radius: 16px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    /* background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(60,53,53,1) 52%, rgba(36,36,36,1) 100%); */
    background-color: #000000d0;
    backdrop-filter: blur(0.2rem);
     border: 2px solid #3131318a; 
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     position: fixed;
     z-index: 2000;
     left: 50%;
    transform: translateX(-50%);
}

.navegacion > li{
    padding: 7px 10px;
    list-style: none;
}
.navegacion li .link{
    
    text-decoration: none;
    color: white;
     font-weight: 400; 
     font-size: 14px;
}
.navegacion > li .link:hover,
.navegacion > li .link.active{
    font-weight: 700;
    font-size: 14px;
    transform: scale(1.03);
    cursor: pointer;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.buscador input{
    border: 0;
    outline: 0;
    background-color: #61616181;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: text;
    margin-right: 15px;
}

.buscador input::placeholder {
    color: #bbb7b7; /* Cambia este valor al color deseado */
    opacity: 1; /* Asegura que el color del placeholder sea completamente opaco */
}

.iconos > div, .iconos-izq .bx{
    cursor: pointer;
}