.menuUser{
    min-width: 180px;
    height: auto;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 8px;
    border-radius: 10px;
    top: 130%;
    left: 0%;
    transform: translateX(-70%);
    z-index: 1000;
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.datosUser{
    padding: 10px 15px;
}
.datosUser .user, .nombre_usuario{
    color:  #383838;
    font-size: 15px;
}
.nombre_usuario{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
}

.lista{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.lista li{
    align-content: center;
    list-style: none;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 15px;
    color:  #383838;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.lista li:hover, 
.lista li:active{
    background-color: #e0e0e0;
}

.lista .bx{
    color:rgba(0, 0, 0, 0.35)
}


.menuArticulo{
    min-width: 110px;
    height: auto;
    position: absolute;
    background-color: #f4f4f8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 8px;
    border-radius: 10px;
    top: 130%;
    left: 0%;
    transform: translateX(-75%);
    z-index: 2000;
    -webkit-transform: translateX(-75%);
    -moz-transform: translateX(-75%);
    -ms-transform: translateX(-75%);
    -o-transform: translateX(-75%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.list-articulo{
    padding: 10px 5px;
}
.list-articulo li{
    padding: 8px;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.list-articulo .bx, .list-articulo .editar{
    color: black;
}

.list-articulo .eliminar, .list-articulo .bx-trash{
    color: red;
}