.ver-articulo{
    text-align: center;
    background-color: rgb(250, 250, 250); 
    min-height: 100vh; 
    /*display: flex;
    flex-direction: column;
    justify-items: center; */
}

.contenido-articulo{
    border-radius: 20px;
    width: 60%;
    margin: 0 auto ;
    /* border: 1px solid red; */
    padding: 0 80px;
    padding-top: 20px;
    
    /* border: 1px solid rgb(202, 202, 202); */
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.ver-articulo h1{
    font-size: xx-large;
    font-weight: 700;
}
.fecha-articulo{
    font-style: italic;
    font-size: medium;
    color: rgb(110, 110, 110);
    /* margin-top: 2px; */
}
.etiqueta{
    font-style: normal;
    font-weight: bold;
    color: rgb(165, 4, 4)
}
.imagen-articulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    /* margin: 15px; */
}

.imagen-articulo img{
    width: 470px;
}
.texto-articulo{
    font-size: larger;
font-weight: 400;
}