*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#root {
  display: grid;
  width: 100%;
  min-height: 100vh;
  
  background-color: #FFFFFF;
  /* border: 1px solid orange;  */
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header"
    "cuerpo";
}

.header{
  grid-area: header;
  background-color: #fafafa;
  width: 100%;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px; */
  
}

.content{
  grid-area: cuerpo;
  width: 100%;
}

@media (max-width: 800px) {

  .content-users, .info-perfil, .post-perfil,
  .form-update, .formulario{
    width: 94% !important;
  }
  .recientes, .art-lateral{
    display: none;
  }
  .Inicio{
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "portada"
      "tendencias" !important;
    padding: 30px !important;
  }

  .vista-articulo{
    grid-template-columns: 1fr !important;
    grid-template-areas: "articulo" !important;
    padding: 10px 15px !important;
  }
  .content-articulos{
    justify-content: center !important;
  }
  .content-articulos .card{
    max-width: 100% !important;
  }

  .Articulos{
    padding: 30px 40px !important;
  }

  .post-perfil .art-image{
    width: 100px !important;
    height: auto !important;
  }
  
}