*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#root {
  display: grid;
  width: 100%;
  min-height: 100vh;
  
  background-color: #FFFFFF;
  /* border: 1px solid orange;  */
  grid-template-rows: 200px 1fr;
  grid-template-areas: 
    "header"
    "cuerpo";
}

.header{
  grid-area: header;
  background-color: #fafafa;
  width: 100%;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px; */
  
}

.vista{
  grid-area: cuerpo;
  width: 100%;
}